<ul>
  <li>
    <%= @shape.name %>, <%= @shape.number_of_sides %>
  </li>
</ul>

<%= link_to 'Edit Shape', edit_shape_path(@shape) %>
<%= link_to 'Delete Shape', shape_path(@shape), method: :delete %>